.home_container {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  padding: 4em;
}

.home_container h1 {
  font-size: 2.5em;
  margin-bottom: .5em;
  color: #d6d1d8;
}

.home_container h1 span {
  color: #d6d1d8;
  padding: 0.3em;
}

.home_container p {
  margin-bottom: 1.5em;
  color: rgb(236, 236, 244);
  font-size: 2em;
}

.img_container {
  width: 500px;
  margin: 2em 0;
  display:grid;
  justify-content:flex-end;
}
