.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #582974;
  padding:0cap;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}
.item {
  margin-right: 1em;

}

.item a {
  color: #fff;
  text-decoration: none;
}

.tem a:hover {
  color: aquamarine;
}