* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif ;

}

html, body, #root{
  background-image:linear-gradient(220deg,  #582974 50%, rgb(9, 10, 10) 100%);
  height: 143%;
}
